<div id="whoiam">
    <h2 class="title-section">Qui suis-je ?</h2>
    <p>Je suis cadre en informatique dans une multinationale basée en Auvergne.</p>
    <p>
        Mes missions consistent à intervenir de bout en bout dans des projets digitaux. Mes tâches vont donc de la conception en passant par le développement et l'exploitation. Mon profil multi-compétent et transverse me permet d'être flexible et autonome.
    </p>
    <p>
        L'informatique est pour moi aussi bien un métier qu'une passion. J'aime découvrir de nouvelles technologies et en tirer le meilleur. Le but étant d'apporter toujours plus de valeur, en privilégiant l'expérience et la satisfaction des utilisateurs.
    </p>
    <a href="${require ('../../assets/pdf/CV-31102017.pdf') }" class="cv-download">Télécharger mon CV</a>
</div>