html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    height: 100%;
}

.progress {
    width: 100%;
    height: 10px;
}

.bar p {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.pourcent {
    width: 24px;
    color: #efefef;
    background: #3c3c3c;
    position: absolute;
    text-align: center;
    font-size: 10px;
    top: -10px;
}

.progress-wrap {
    background: #3c3c3c;
    margin: 0 0 15px 0;
    position: relative;
}

.progress-wrap .progress-bar {
    background: #ddd;
    right: 0;
    position: absolute;
    top: 0;
}

.panel {
    min-width: 100%;
    height: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -200%;
    position: absolute;
    background: #000;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.panel:target {
    margin-top: 0%;
}

.hideme {
    opacity: 0;
}

.panel {
    min-width: 100%;
    min-height: 100%;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
}

.year-ex p {
    margin: 0;
}

.card h3 {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    font-weight: 100;
    color: #3c3c3c;
}

.card-ex-content {
    display: flex;
    margin-top: 20px;
}

.year-ex {
    flex: 0.3;
}

.title-section {
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif;
    margin: 0;
    font-weight: 400;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.more-info-button {
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: rgba(0, 0, 0, 0.62);
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.more-info-content {
    display: none;
}

.description-ex {
    position: relative;
    flex: 0.7;
}

.parallax {
    z-index: 10;
    position: relative;
    height: 460px;
    overflow: hidden;
}