<h1>Réalisations graphiques</h1>


<div id="carousel-portfolio">

        <div class="content animated fadeIn">
                <table>
                        <tr>
                                <td>
                                        <img alt="Illustrations vectorielles" src="${require('../../assets/img/portfolio/mtb.png')}">

                                </td>
                                <td class="description">
                                        <p>Images vectorielles représentant des figurines. Réaliser dans le cadre d'un projet
                                                personnelle.
                                        </p>
                                </td>
                        </tr>
                </table>
        </div>
        <div class="content animated fadeIn">
                <table>
                        <tr>
                                <td class="description">

                                        <p>Teaser vidéo réalisé pour
                                                <a href="https://devotics.fr">https://devotics.fr</a>
                                        </p>
                                </td>
                                <td>
                                        <iframe width="325" height="183" src="https://www.youtube.com/embed/-y8-aQoeMGU" frameborder="0" allow="autoplay; encrypted-media"
                                                allowfullscreen></iframe>
                                </td>
                        </tr>
                </table>
        </div>

</div>