<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Angular 2: Aborder sereinement ces nouveaux paradigmes</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/black.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>

			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>

				<h1>Angular 2</h1>
				<h3>Aborder sereinement ces nouveaux paradigmes</h3>
				<img src="assets/angular2.svg" style="width: 200px;
    border: 0;
    background: transparent;">
				<p>
					<small>Created by <a href="http://quentinchapelle.com">CHAPELLE Quentin</a> / <a href="http://twitter.com/quentinchap">@quentinchap</a></small>
				</p>
			</section>

			<section tagcloud mv>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Communauté ?</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Webcomponent</span>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Dart</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Server side</span>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Nouveau framework</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Maintenabilitée</span>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Typescript</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Angular-cli</span>
				<h2>Angular 2 ?</h2>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">ES6</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Performance</span>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Compatibilité ?</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Mobile</span>
				<span class="fragment" data-fragment-index="1" tagcloud-color="r">Réécriture application</span>
				<span class="fragment" data-fragment-index="2" tagcloud-color="b">Facile à apprendre</span>
			</section>

			<section>
				<h1>Cas pratique</h1>
				<p>
					Outil de vote en ligne pour l’élection présidentielle de Groland
				</p>
			</section>

			<section>
				<h1>Les composants</h1>
				<p>Angular 2 est entièrement constitué de composants organisés de manière hiérarchique.</p>
				<img src="assets/componentApp.png">
			</section>

			<section>


				<h1>Angular-Cli</h1>

				<p>Client ligne de commande permettant de générer du code et d’automatiser un certain nombre d’actions.</p>
				<h3>Commandes</h3>
				<div data-markdown>
					```
					 # ng new voteMachine 
					 # cd voteMachine 
					 # ng serve 
					 ```
				</div>
			</section>

			<section>
				<h1>Structure</h1>
				<img src="assets/projectStructure.png">
			</section>

			<section>
				<h1>Interpolation</h1>
				<h4>app.component.html</h4>
				<div data-markdown>
					<script type="text/template">
						````
						<h1>{{title}}</h1>
						````
					</script>
				</div>
				<h4>app.component.ts</h4>
				<div data-markdown>
					<script type="text/template">
						```` 
						import { Component } from '@angular/core'; 
						
						@Component( { 
							selector: 'app-root', 
							templateUrl: './app.component.html',
							styleUrls:['./app.component.css'] }) 
						
						export class AppComponent { title = "app works!"; } 
						````
					</script>
				</div>
			</section>
			<section>
				<h1>Login</h1>
				<h4>Commande</h4>
				<div data-markdown>
					```` 
					#ng generate component login 
					````
				</div>
				<img src="assets/login.png">

			</section>

			<section>
				<h2>Login.component.html</h2>
				<h4> Event, binding & Directives de structure</h4>
				<div data-markdown>
					<script type="text/template">
					````
					<div id="login">
						<button md-raised-button color="primary" 
								*ngIf="!showForm" (click)="pressLoginButton()">
								Login
						</button>

						<md-card *ngIf="showForm">
							<md-input [placeholder]="loginPH" [(ngModel)]="user">
							</md-input>

							<button md-raised-button color="primary" 
									(click)="pressLoginButton()">
									Validate
							</button>
						</md-card>
					</div>
					````
					</script>
				</div>


			</section>

			<section>
				<h2>Login.component.ts</h2>
				<div data-markdown>
					<script type="text/template">
					````
					@Component({
						selector: 'app-login',
						templateUrl: './login.component.html',
						styleUrls: ['./login.component.css']
					})

					export class LoginComponent {
						showForm: boolean = false;
						loginPlaceHolder: string;
						user:any;

						constructor() { this.loginPH = "login"; }

						pressLoginButton() { this.showForm = true; }
					}
					````
					</script>
				</div>


			</section>

			<section>
				<h2>Integration de notre composant</h2>
				<div data-markdown>
					<script type="text/template">
					````
					import { LoginComponent } from './login/login.component';

					@NgModule({
					declarations: [
						AppComponent,
						LoginComponent
					],
					````
					</script>
				</div>

				<div data-markdown>
					<script type="text/template">
					````
					<app-login></app-login>
					````
					</script>
				</div>

			</section>

			<section>
				Creation d'un component avec une liste

				<div data-markdown>
					<script type="text/template">
					````
						<md-card>
							<md-list>
								<app-candidat-item *ngFor="let c of candidats" 
								[candidat]="c"></app-candidat-item>
							</md-list>
						</md-card>
					````
					</script>


			</section>

			<section>
				<h1>Programmation réactive</h1>
				<div data-markdown>
					<script type="text/template">
						```

						const emitter = new EventEmitter();

						emitter.subscribe(
							value => console.log(value),
							error => console.log(error),
							() => console.log('done')
						);

						emitter.emit('hello');
						emitter.emit('there');
						emitter.complete();

						// hello
						// there
						// done
						```
						</script>
				</div>


			</section>
			<section>
				<h2>Injection de dépendance</h2>
				<img src="assets/injector.png">
			</section>

			<section>
				Introduction service & Http resquest
				<div data-markdown>
				<script type="text/template">
				````

				import { Injectable } from '@angular/core';
				import { Http } from '@angular/http';
				import { Observable } from 'rxjs/Observable';

				@Injectable()
				export class CandidatService {

					constructor(private http: Http) { }

					getAllCandidat() {
						return this.http.get('http://localhost:3000/candidats');
					}
				}
				````
				</script>
				</div>


			</section>


			<section>
				Utiliser un service
				<div data-markdown>
				<script type="text/template">
				````
				constructor(private candidatService: CandidatService) 
				{
					this.candidatService.getAllCandidat()
					.map(res => <Candidat[]>res.json())
					.subscribe(response => {
						console.log(response);
						this.candidats = response;
					});
				}
				````
				</script>
				</div>


			</section>

			<section>
				@Input
				<div data-markdown>
				<script type="text/template">
				````
				import { Component, OnInit, Input } from '@angular/core';
				import {Candidat} from '../model/candidat';

				@Component({
					selector: 'app-candidat-item',
					templateUrl: './candidat-item.component.html',
					styleUrls: ['./candidat-item.component.css']
				})
				export class CandidatItemComponent implements OnInit {

					@Input() candidat:Candidat;
					
					constructor() { }

					ngOnInit() {
					}
				}
				````
				</script>
				</div>


			</section>


			<section>
				@Output
				<div data-markdown>
				<script type="text/template">
				````
				@Output() userLogged = new EventEmitter<String>();
				
				login()
				{
					this.userLogged.emit(this.user);
				}
				````
				</script>
				</div>

				<div data-markdown>
				<script type="text/template">
				````
				<app-login titleMessage="Please log you to vote." 
				(userLogged)="login($event)"></app-login>
				````
				</script>
				</div>


			</section>


			<section>
				<h2>AngularJs to Angular 2</h2>
				<p>Utiliser des composants AngularJs</p>
				<p>ng-upgrade</p>
				<p><a href="https://angular.io/docs/ts/latest/guide/upgrade.html">https://angular.io/docs/ts/latest/guide/upgrade.html</a></p>

			</section>

			<section>
				<h1>Angular V3/V4</h1>
				<span class="fragment" data-fragment-index="1" >Mars 2017</span>
			</section>

			<section>
				<h1>Ressources</h1>
				<p><a href="http://ninja-squad.fr/">Become a Ninja with Angular 2</a></p>
				<p><a href="https://angular.io/">Documentation officielle</a></p>
				<p><a href="http://learnangular2.com/">LEARN ANGULAR 2</a></p>
				<p><a href="https://github.com/johnpapa/angular2-tour-of-heroes">John papa</a></p>
				<p><a href="https://xgrommx.github.io/rx-book/index.html">https://xgrommx.github.io/rx-book</a></p>
				<p><a href="http://rxmarbles.com/#amb">RxMarbles</a></p>
			</section>

			<section>
				<h3>Available soon</h3>
				https://github.com/quentinchap/VoteMachine
			</section>

		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
				 { src: 'plugin/tagcloud/tagcloud.js', async: true },
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
</body>

</html>
