<div id="contact-bg">
</div>
<div id="contact-content">
    <div class="social-list">
        <div class="social">
            <a href="https://twitter.com/quentinchap">
                <img alt="twitter" src="${require('../../assets/img/icon/twitter.svg')}">
                <span class="label">@quentinchap</span></a>
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/quentinchapelle">
                <img alt="linkedin" src="${require('../../assets/img/icon/linkedin.svg')}">
                <span class="label">quentinchapelle</span></a>
        </div>
        <div class="social">
            <a href="https://github.com/quentinchap">
                <img alt="github" src="${require('../../assets/img/icon/github.svg')}">
                <span class="label">quentinchap</span></a>
        </div>
    </div>
</div>