<div id="dev-mobile-description" style="display:none;">
    <div class="work-modal">
        <h1>Applications mobiles</h1>

        <h2>Technologies</h2>
        <div style="margin-bottom: 30px;">
            <img class="logo-tech lazy" alt="vue.js" data-src="${require('../../assets/img/icon/cordova.png')}">
            <img class="logo-tech lazy" alt="vue.js" data-src="${require('../../assets/img/icon/ionic.svg')}">
            <img class="logo-tech lazy" alt="vue.js" data-src="${require('../../assets/img/icon/android.svg')}">
        </div>
        <h2>Description</h2>
        <div>

            Conception et développement d'applications mobiles internes en angular et en angularJs via le framework ionic. L'un des points les plus importants étant d'obtenir des solutions les plus ergonomiques possibles.

        </div>

        <h2>Stores</h2>

        <div id="carousel-galerie">
            <h3>Tire end of life</h3>
            <a href="https://play.google.com/store/apps/details?id=com.michelin.endOfLife&hl=fr">Play store</a>

        </div>

    </div>
</div>