    #frPage {
        /**/
        background-size: 100% auto;
        background-position-y: top center;
        min-width: 350px;
        /*background-size: 1000px;
    background-position-x: -490px;*/
    }
    
    @media screen and (min-width: 1000px) {
        #whoiam,
        #competency {
            width: 50%;
            flex: 1;
            margin-bottom: 30px;
        }
        #whoiam {
            padding-right: 15px;
        }
        #competency {
            padding-left: 15px;
        }
        .first-section {
            display: flex;
        }
    }
    /** =============== Toolbar =============== */
    
    #toolbar,
    #sticky-toolbar {
        min-width: 350px;
        display: flex;
        width: calc(100% - 10px);
        height: 60px;
        padding-left: 10px;
        position: absolute;
        z-index: 11;
        top: 0px;
    }
    
    #sticky-toolbar {
        background: white;
        position: fixed;
        color: #3e3e3e;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        top: -62px;
        z-index: 12;
    }
    
    #toolbar .titleSite {
        color: transparent;
    }
    
    .profession {
        color: rgba(148, 147, 147, 0.82);
        font-weight: 300;
    }
    
    .titleSite {
        flex: 1;
        font-family: 'Assistant', sans-serif;
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        padding-top: 10px;
        padding-left: 20px;
        margin: 0;
    }
    
    .photoProfil {
        height: 40px;
        border-radius: 50%;
        margin: 10px;
        float: left;
    }
    
    .menu-button-fr {
        width: 20px;
        height: 20px;
        padding: 20px
    }
    /** portfolio */
    
    #work-bg {
        background: white url(../assets/img/work.jpeg) no-repeat;
        background-size: cover;
        min-height: 400px;
        height: 800px!important;
        width: 100vw;
        padding-top: 60px;
    }
    
    #work-content {
        position: absolute;
        top: 0;
        color: white;
        padding: 5%;
        width: 90%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.69);
    }
    
    .ex-list {
        width: 100%;
        height: 300px;
        display: flex;
    }
    
    .ex-item {
        flex: 1;
        margin: 10px;
        background: #3c3c3c;
        text-align: center;
        padding: 20px;
    }
    
    .ex-item p {
        text-align: justify;
        padding: 5px;
    }
    
    .ex-item a,
    .ex-item a:hover {
        padding: 0;
        color: #9fb9c3;
    }
    
    .ex-item .logo {
        height: 40px;
    }
    /** Intro */
    
    #hi {
        background: white url(../assets/img/profil2.jpg) no-repeat;
        background-size: cover;
        min-height: 400px;
        height: 600px!important;
        width: 100vw;
        padding-top: 60px;
    }
    
    #hi h2 {
        font-family: 'Assistant', sans-serif;
        margin: 100px 0 0 20px;
        color: rgba(148, 147, 147, 0.82);
        font-weight: 100;
    }
    
    #hi h2 .name {
        font-size: 1.2em;
        font-weight: 400;
        color: #3e3e3e;
    }
    /** About Me */
    
    #aboutme {
        background: #efefef;
        min-height: 400px;
        padding: 5%;
        width: 90%;
    }
    
    @media screen and (max-width: 900px) {
        #hi h2 {
            margin: 150px 0 0 20px;
        }
    }
    
    @media screen and (max-width: 700px) {
        #frPage {
            background-size: auto 460px;
            background-position-y: top center;
        }
        #hi {
            background-position: -100px!important;
        }
    }