html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    height: 100%;
    min-width: 320px;
    scroll-behavior: smooth;
}

a.enter {
    background: rgba(0, 0, 0, 0.5);
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: .6s background;
}

a:hover {
    background: rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    letter-spacing: .3rem;
}