<div class="card">
    <h2 class="title-section">Expériences professionnelles</h2>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2016 - maintenant</p>
            <p><strong>MICHELIN</strong></p>
            <p> Clermont-Ferrand</p>
        </div>
        <div class="description-ex">
            <h3>Analyste développeur fullstack</h3>
            <p>Analyse de besoins, conception et développement de solutions web et mobile innovantes.</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <h3>Principaux challenges</h3>
                <ul>
                    <li>
                        Time to market très court
                    </li>
                    <li>Multiplication des technologies utilisées</li>
                    <li>S'adapter aux différents métiers</li>
                    <li>Montée en compétence en UX/Design Technologies</li>

                </ul>
                <h3>Technologies</h3>

                <span>
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/android.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/angular.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/grails.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/ionic.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon//cordova.png')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/npm.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/jenkins.png')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/docker.svg')}">
                        </span>
            </div>

        </div>
    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2016 </p>
            <p><strong>UNIVERSITÉ BLAISE PASCAL</strong></p>
            <p> Clermont-Ferrand</p>
        </div>
        <div class="description-ex">
            <h3>Chargé d'enseignement vacataire</h3>
            <p>Encadrement de Travaux pratiques en C / Système (niveau Bac +3) et en Structure de données (niveau Bac +2)</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <h3>Principaux challenges</h3>
                <ul>
                    <li>Première expérience dans l'enseignement</li>
                    <li>Intéresser et motiver sur un créneau horaire difficile</li>
                    <li>Vulgariser au maximum</li>
                </ul>
                <h3>Technologies</h3>

                <span>
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/c.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/java.svg')}">
                        </span>
            </div>

        </div>
    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2014 - 2016</p>
            <p><strong>MICHELIN</strong></p>
            <p> Clermont-Ferrand</p>
        </div>
        <div class="description-ex">
            <h3>Analyste fonctionnel</h3>
            <p>Conception et amélioration d'outils gravitant autour de la prise de commandes.</p>
        </div>
    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2013 - 2014</p>
            <p><strong>MICHELIN</strong></p>
            <p> Clermont-Ferrand</p>
        </div>
        <div class="description-ex">
            <h3>Alternant</h3>
            <p>Etude et mise en place d’outils de monitoring et de troubleshooting</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <h3>Principaux challenges</h3>
                <ul>
                    <li>Beaucoup de contraintes techniques et fonctionnelles</li>
                    <li>Application cible sensible</li>
                </ul>
                <h3>Technologies</h3>
                <span>
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/logstash.png')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/kibana.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/elasticsearch.png')}">
                        </span>
            </div>

        </div>

    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2013</p>
            <p><strong>WORLDLINE</strong></p>
            <p>Lyon</p>
        </div>
        <div class="description-ex">
            <h3>Développeur stagiaire</h3>
            <p>Conception, développement, maintenance et déploiement d'applications Web JEE. Stage effectué dans le cadre du programme pédagogique de deuxième année de l'ISIMA.</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <h3>Principaux challenges</h3>
                <ul>
                    <li>Contact clients</li>
                    <li>Prise en main des outils et des méthodes d'intégration continue et de gestion de projet</li>
                    <li>Formation technique</li>
                </ul>
                <h3>Technologies</h3>
                <span>
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/spring.png')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/jersey.png')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/hibernate.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/jenkins.png')}">
                        </span>
            </div>
        </div>
    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p>2010</p>
            <p><strong>CHU</strong></p>
            <p>Clermont-Ferrand</p>
        </div>
        <div class="description-ex">
            <h3>Développeur stagiaire</h3>
            <p>Conception et développement d’un logiciel de paramétrage et d’automatisation d’un laser médicale.</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <h3>Principaux challenges</h3>
                <ul>
                    <li>Premier projet en totale autonomie</li>
                    <li>Protocole de communication avec l'appareil</li>
                    <li>Rigueur protocolaire imposée par les contraintes métier</li>
                </ul>
                <h3>Technologies</h3>
                <span>
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/Qt.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/cpp.svg')}">
                            <img  class="icon lazy" data-src="${require('../../assets/img/icon/uml.svg')}">
                        </span>
            </div>
        </div>
    </div>
    <div class="card-ex-content">
        <div class="year-ex">
            <p><strong>DIVERS</strong></p>
        </div>
        <div class="description-ex">
            <h3>Emplois saisonniers</h3>
            <p>Emplois vacances ayant eu lieu avant 2013</p>
            <div class="more-info-button-fr">En savoir plus</div>
            <div class="more-info-content">
                <ul>
                    <li>Ambulancier à Tissier - Nevers 58000 : Août 2011 et Juillet - Août 2012</li>
                    <li>Service Comptabilité à Logivie - Nevers 58000 : Août 2010</li>
                    <li>Chargé d'accueil à la Caisse d'épargne - Coulanges-lés-Nevers 58660 : Juillet 2009</li>
                    <li>Service informatique à Logivie - Nevers 58000 : Août 2008 et Août 2009</li>
                </ul>
            </div>


        </div>
    </div>
</div>