<div id="docker-description" style="display:none;">
    <div class="work-modal">
        <h1>Docker</h1>

        <h2>Technologies</h2>
        <div style="margin-bottom: 30px;">
            <img class="logo-tech lazy" alt="Docker" data-src="${require('../../assets/img/icon/docker.svg')}">
        </div>
        <h2>Description</h2>
        <div>

            <p>Conception et mise en place d'une architecture applicative complexe avec docker et swarm. Haute disponibilité, flexibilité, sécurité, etc. furent autant de problématiques à prendre en compte afin d'assurer la réussite du projet.</p>
            <p>Ce travail a permis de mettre en place les différentes briques techniques permettant l'utilisation de l'application mobile <i>MICHELIN RoadConnect, pour les routiers</i> (disponible sur <a href="https://play.google.com/store/apps/details?id=com.michelin.rc">Android</a>                et iOs). </p>
        </div>

    </div>
</div>