@import '../style/theme.scss';
@media (max-width: $break-phone) {
    .author {
        font-size: 0.8em;
        height: 56px;
        p {
            margin: 10px 0;
        }
    }
    h2 {
        overflow: hidden;
        max-width: 45vw;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}