#sam-description {
    display: block!important;
    padding: 30px;
}

#carousel-galerie {
    img {
        max-width: 90%;
    }
}

#toolbar-projects {
    position: fixed;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    background: white;
    height: 56px;
    h2 {
        font-size: 1.4rem;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        letter-spacing: .3rem;
    }
    .project-sheet {
        flex: 3;
    }
    .back {
        flex: 1;
        img {
            padding: 0 10px;
        }
        a {
            display: flex;
            font-family: 'Assistant', sans-serif;
            line-height: 56px;
            font-weight: 100;
            padding: 0;
            color: black;
        }
        a:hover {
            background: none;
        }
    }
}

.author {
    flex: 1;
}

.project-sheet {
    line-height: 56px;
    text-align: center;
}

.author {
    display: flex;
    text-align: right;
    p {
        margin: 5px 0;
    }
    .photoProfil {
        margin: 5px 10px;
        ;
    }
}

#content {
    padding-top: 65px;
}

body {
    background: rgb(239, 239, 239);
}

.work-modal {
    padding: 20px;
}

.logo-tech {
    height: 40px!important;
    padding: 5px;
}

.work-modal h2 {
    font-weight: 100;
    text-transform: uppercase;
    /* text-align: center; */
    margin-top: 0;
    letter-spacing: .3rem;
}

.work-modal h3 {
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 30px;
}

#carousel-galerie {
    text-align: center
}